{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="about">
  <h1 style="text-align:center;">Welcome to About us Page</h1>
         
       <div class="card container mb-1 text-dark mahajan1" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/myimg.jpeg' %}" alt="" class="cardimg" width="100px">
                  </div>
                  <div class="col-8">
                           Hi , this is Sukritan gupta I am professional web devleoper ,cloud experts, game developer, coder, machine learning experts.
                           <br>
                           <br>
                           <button type="button" class="btn "><a href="https://www.linkedin.com/in/sukritan-gupta-a38430219/" target="_blank" style="text-decoration:None; color:grey;">Linkedin</a> </button>
                           <button type="button" class="btn "><a href="https://www.instagram.com/sukritangupta/" target="_blank" style="text-decoration:None; color:grey;">Instagram</a> </button>
                           <button><a href="https://twitter.com/1871_sukritan" target="_blank" style="text-decoration:None; color:grey;">Twitter</a> </button>
                          
                  </div>
                    
          </div>
          </div>
          <div class="card container mb-1 text-dark" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/rahul.jpeg' %}" alt="" class="cardimg" width='100px'>
                  </div>
                  <div class="col-8">
                          Hi this is Rahul kumar  , I am professional web developer.

                           <br>
                           <br>
                           <button class="btn "><a href="https://www.linkedin.com/in/tanishq-shrivastava-b130ba1b9/" target="_blank" style="text-decoration:None; ">Linkedin</a> </button>
                           <button class="btn "><a href="https://twitter.com/TanishqTushu" target="_blank" style="text-decoration:None;">Twitter</a> </button>
                           <button class="btn"><a href="https://www.facebook.com/tanishq.arya.56" target="_blank" style="text-decoration:None;">Facebook</a> </button>
                  </div>
                    
          </div>
           
                    
          </div>


           <div class="card container mb-1 text-dark" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/rajat.jpg' %}" alt="" class="cardimg" width='100px'>
                  </div>
                  <div class="col-8">
                          Hi this is Rajat kumar  Das , I am professional Data scientist.

                           <br>
                           <br>
                           <button class="btn"><a href="https://www.linkedin.com/in/tanishq-shrivastava-b130ba1b9/" target="_blank" style="text-decoration:None; color:grey;">Linkedin</a> </button>
                           <button class="btn"><a href="https://twitter.com/TanishqTushu" target="_blank" style="text-decoration:None; color:grey;">Twitter</a> </button>
                           <button class="btn"><a href="https://www.facebook.com/tanishq.arya.56" target="_blank" style="text-decoration:None; color:grey;">Facebook</a> </button>
                  </div>
                    
          </div>
           </div>
             <div class="card container mb-1 text-dark" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/modassir.jpg' %}" alt="" class="cardimg" width='100px'>
                  </div>
                  <div class="col-8">
                          Hi this is Modassir , I am professional Data scientist ,Machine learning expert and coder.

                           <br>
                           <br>
                           <button class="btn"><a href="https://www.linkedin.com/in/tanishq-shrivastava-b130ba1b9/" target="_blank" style="text-decoration:None; color:grey;">Linkedin</a> </button>
                           <button class="btn"><a href="https://twitter.com/TanishqTushu" target="_blank" style="text-decoration:None; color:grey;">Twitter</a> </button>
                           <button class="btn"><a href="https://www.facebook.com/tanishq.arya.56" target="_blank" style="text-decoration:None; color:grey;">Facebook</a> </button>
                  </div>
                    
          </div>
                  
          </div>
      
</div>




{% include "footer.html" %}
{% endblock %}