{% extends 'base.html' %}

{% block content %}
         <h3>Update the Review </h3>
          <form method='POST'>
          {% csrf_token %}
          <label for="">Enter a review:</label>
          <textarea  name="textarea" rows="4" cols="50" class="form-control"> </textarea><br>
          <label for="">Out of 5 hoq much you will give.</label>
          <input type="text" name='rat' class='form-control'>
          <br>
          <br>
          <input type="submit" value="submit" class="btn btn-secondary">

          </form>  
          {% include "footer.html" %}
{% endblock %}